services:
    postgres:
        image: postgres:16
        container_name: url_shorten
        restart: unless-stopped
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: url_shortening_service
        ports:
            - "5431:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
    
    redis:
        image: redis:7-alpine
        container_name: url_shorten_redis
        restart: unless-stopped
        command: ["redis-server", "--requirepass", "strongpassword", "--appendonly", "yes"]
        ports:
            - "6379:6379"
        volumes:
        - redis_data:/data



volumes:
    postgres_data:
    redis_data:


  